.scroll-hidden {
    overflow: auto;

    // Hide scrollbar for WebKit browsers (Chrome, Safari, newer Edge)
    &::-webkit-scrollbar {
        display: none;
    }

    // Hide scrollbar for Firefox
    scrollbar-width: none;

    // Hide scrollbar for Internet Explorer and older Edge
    -ms-overflow-style: none;
}